<mat-toolbar color="primary">
    <div class="toolbar-content">
      <button mat-fab extended color="primary">
        <mat-icon>play_circle</mat-icon>
        Start retro
      </button>
      <button mat-fab extended color="accent">
        <mat-icon>view_column</mat-icon>
        Set columns
      </button>
      <button mat-fab extended color="accent">
        <mat-icon>image</mat-icon>
        Set background
      </button>
      <button mat-fab extended color="accent">
        <mat-icon>cloud_upload</mat-icon>
        Save template
      </button>
    </div>
  </mat-toolbar>
  <mat-divider></mat-divider>