
<mat-grid-list cols="3" rows="2" rowHeight="1:1">
    <mat-grid-tile [colspan]="2">
        LAST RETROS
    </mat-grid-tile>
    <mat-grid-tile>
    <button routerLink="/createNewRetro" mat-raised-button color="primary">
        <mat-icon>add</mat-icon>
        Create New Retro
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3">
      <!-- <div class="template-container">
      <mat-card *ngFor="let template of savedTemplates">
        <mat-card-header>{{template.name}}</mat-card-header>
        <mat-card-footer>{{template.createdAt}}</mat-card-footer>
        <img mat-card-image class="card-image" src="{{template.backgroundUrl}}">
      </mat-card>
    </div> -->

    <div class="image-list" fxLayout="row">
      <ng-container *ngFor="let image of imageListItems">
        <app-image-list-item class="image-list__item" [image]="image" [style.margin]="'10'+'px'" (click)="onImageListItemClick(image)"></app-image-list-item>
      </ng-container>
    </div>
    </mat-grid-tile>
  </mat-grid-list>

