<div class="parent">
    <h1 mat-dialog-title>Rejestracja</h1>
    <div mat-dialog-content class="content">
      <form [formGroup]="registerForm" style="text-align:center;" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill" [style.width.%]="80">
          <mat-label>Email</mat-label>
          <input matInput placeholder="Podaj swój email" formControlName="email">
          <mat-error *ngIf="registerForm.get('email')?.errors?.['required']">
            Email jest wymagany.
          </mat-error>
          <mat-error *ngIf="registerForm.get('email')?.errors?.['email']">
            Proszę podać prawidłowy adres email.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" [style.width.%]="80">
          <mat-label>Nickname</mat-label>
          <input matInput placeholder="Podaj swój nickname" formControlName="nickname">
          <mat-error *ngIf="registerForm.get('nickname')?.errors?.['required']">
            Nickname jest wymagany.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" [style.width.%]="80">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" placeholder="Podaj swoje hasło" formControlName="password">
          <mat-error *ngIf="registerForm.get('password')?.errors?.['required']">
            Hasło jest wymagane.
          </mat-error>
          <mat-error *ngIf="registerForm.get('password')?.errors?.['minLength']">
            Hasło musi mieć przynajmniej 8 znaków.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" [style.width.%]="80">
          <mat-label>Potwierdź hasło</mat-label>
          <input matInput type="password" placeholder="Potwierdź hasło" formControlName="confirmPassword">
          <mat-error *ngIf="registerForm.get('confirmPassword')?.errors?.['mustMatch']">
            Hasła nie zgadzają się.
          </mat-error>
        </mat-form-field>
      </form>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancel()">Anuluj</button>
        <button mat-raised-button color="primary" [disabled]="!registerForm.valid" (click)="onSubmit()">Zarejestruj się</button>
      </div>
  </div>