form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

mat-card {
    max-width: 400px;
    margin: 2rem auto;
    padding: 1rem;
  }
  
  mat-form-field {
    width: 100%;
    display: block;
  }

.login-link {
    color:#1a1e23;
    font-weight: bold;
}

.login-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.annotation-bottom {
    text-align: center;
    margin-top: 5px;
}

.submit-button {
    margin-left: auto;
    margin-right: auto;
}